.button {
  display: inline-block;
  padding: .5rem 1rem;
  font: inherit;
  line-height: 1.4;
  border: 0;
  cursor: pointer;
  transition: all 300ms ease;
  &-block {
    display: block;
    width: 100%;
  }
  &-primary {
    background: $blue;
    color: #fff;
    &:hover {
      background: $blue-hover;
    }
  }
  &-secondary {
    background: #fff;
    color: #333;
    &:hover {
      background: #ddd;
    }
  }
  &-danger {
    background: $red;
    color: #fff;
    &:hover {
      background: #CC6950;
    }
  }
  &:disabled {
    background: #ccc;
    color: #888;
    cursor: default;
  }
}