$blue: #4169E1;
$blue-hover: #3A5DC7;
$red: #E67659;

@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: 62rem) { @content; }
  }
  @else if $point == md {
    @media (min-width: 48rem) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 36rem) { @content; }
  }
}