<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title VANGUARD
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
    link(rel="stylesheet", href="/app.css")
  body
    main
      block content
    footer
      .container
        small VANGUARD 2018
    script(src="/app.js")